@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	font-size: 10px;
	font-family: "Montserrat", sans-serif;
}

.container {
	margin: 0 auto;
	position: relative;
	width: 960px;
}

.titulo{
    text-align: center;
    margin: 0 auto;
    font-size: 15px;
}

.catalogo {
	background-color: #f2f2f2;
	width: 100%;
}

.catalogo-filmes-lista {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px 0;
	width: 100%;
}

.catalogo-filmes-lista-item {
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	overflow: hidden;
	width: 24%;
}

.filme-poster {
	margin: 0;
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
}

.filme-poster img {
	width: 100%;
	height: auto;
}

/*
onHover Effect poster play
*/
.filme-poster-info {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	left: 0;
	opacity: 0;
	padding: 80px 20px;
	position: absolute;
	text-align: center;
	top: 0;
	transition: all 0.2s ease-in-out;
	visibility: hidden;
	width: 100%;
	z-index: 1;
}

.catalogo-filmes-lista-item:hover .filme-poster-info {
	opacity: 1;
	visibility: visible;
}

/*
onHover Title Effect
*/
.filme-poster-info h3 {
	color: #e4bb23;
	font-size: 2em;
	line-height: 1em;
	text-transform: uppercase;
}

.filme-poster-link {
	color: #fff;
	font-size: 5em;
	transition: all 0.2s ease-in-out;
}

.filme-poster-link:hover {
	color: #e4bb23;
}

.filme-sinopse {
	padding: 10px;
	width: 100%;
}

.filme-sinopse-titulo {
	font-size: 1.3em;
	font-weight: bold;
	margin: 0;
	text-transform: uppercase;
}

.sinopse-genero {
	margin: 10px 0;
	display: flex;
}

.sinopse-genero-item {
	text-decoration: none;
	font-size: 1.2em;
	color: #e4bb23;
}

.sinopse-genero-item:hover {
	text-decoration: underline;
}

/*
Film grade
*/
.filme-nota {
	margin: 0;
	align-items: center;
	display: flex;
	font-size: 2em;
	font-weight: bold;
	justify-content: space-between;
}

.filme-nota i {
	color: #ccc;
	cursor: pointer;
}

.filme-nota i:hover {
	color: #e74c3c;
}
